<html>
  <head>
      {% load static %}
      <link rel="stylesheet" href={% static './css/home.css' %}>
  </head>

  <body>
    {% include 'nav.html' %}
    {% if user.is_authenticated %}
        <h1>{{time}}</h1>
        <!--게시글 리스트-->
        <div class="leftbox">

        </div>
        <div class="rightbox">
            <div class="search"></div>
            <table>
                <thead>
                <tr>
                    <th>내용</th>
                    <th>작성자</th>
                    <th>작성일시</th>
                </tr>
                </thead>
                <tbody>
                {% for post in freeposts %}
                <tr>
                    <td>{{ post.body }}</td>
                    <td>{{ post.author.username }}</td>
                    <td>{{ post.date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'footer.html' %}
        {% else %}

        {% endif %}
    </body>
</html>