body{
    margin: 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea{
    width: 70%;
    border-radius: 10px;
    border: 1px solid #FFB400;
    margin-bottom: 2%;
    padding: 2% 0% 0% 2%;
}

.submitbtn{
    width: 70%;
    padding: 0.8% 0% 0.8% 0%;
    border-radius: 100px;
    background-color: #DEDEDE;
    border: none;
    color: white;
    font-family: Pretendard;
    font-size: 18px;
}

.submitbtn:hover{
    background-color: #FFB400;
}
.line1{
    width: 326px;
    height: 0px;
    border-bottom: 1px solid #FFB800;
    border-top: none;
    border-left: none;
    border-right: none;
}

.choice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.ment1{
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 600;
}

.ment2{
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 600;
}
.ment3{
    font-family: Pretendard;
    font-size: 13px;
    color:#DEDEDE;
}
.outbox{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outbox1{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
} 

.inner2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
